/periodictable-a4.aux
/periodictable-a4.log
/periodictable-a4.out
/periodictable-a4.pdf
/periodictable-a4.tex
/periodictable-letter.aux
/periodictable-letter.log
/periodictable-letter.out
/periodictable-letter.pdf
/periodictable-letter.tex
